<table class="table">
	<p>
	    <strong>Task name:</strong>
	    <%= task.name %>
	</p>

	<p>
	    <strong>Task description:</strong>
	    <%= task.description %>
	</p>

	<p>
	    <strong>Task status:</strong>
	    <%= task.status %>
	</p>

	<p>
	    <strong>Appointed employees:</strong>
	    <%= task.employee %>
	</p>

	<%= link_to 'Delete Task', [task.project, task], method: :delete, data: {confirm: 'Are you sure?'} %><br>

	<%= link_to 'Edit Task', [task.project, task], method: :edit %>
</table>
