<div class="container">

	<p>
	  <strong>Project title:</strong>
	  <%= @project.title %>
	</p>

	<p>
	  <strong>Project summary:</strong>
	  <%= @project.text %>
	</p>

	<p>
	  <strong>Start date:</strong>
	  <%= @project.sdate %>
	</p>

	<p>
	  <strong>End date:</strong>
	  <%= @project.edate %>
	</p>


	<h2>Tasks</h2>
		<%= render @project.tasks %>

	
		<h2> Add task</h2>
			<%= render 'tasks/form' %>

	<button type="button" class="btn btn-link"><%= link_to 'Edit', edit_project_path(@project) %> </button>
	<button type="button" class="btn btn-link"><%= link_to 'Back', projects_path %></button>
</div>
